<div class="row">
    <div class="col-12">
        <app-header></app-header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="text-center">{{ 'Слова для изучения' }}</h3>
                    <div class="row">
                        <div class="col-md-5">
                            {{ word }}
                        </div>
                        <div class="col-md-5">
                            {{ translation }}
                        </div>
                        <div class="col-md-2">
                            <span class="badge badge-info">{{ getWordStatus() }}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <span class="badge badge-dark" [innerText]="canAddWord"></span>
                            <button class="btn btn-success btn-sm mt-2 float-sm-right" [disabled]="!canAddWord">Добавить новое слово</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6"></div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>